@import url(./head_foot.scss);
@import url(./head_foot.scss);
* {
  padding: 0px;
  margin: 0px;
}

.logo {
  height: 4vmax;
}

.violeta {
  background-color: #e5d4ed;
}

body {
  background-color: #e5d4ed;
}

main {
  padding-top: 10px;
  padding-bottom: 20px;
}

a {
  text-decoration: none;
}

.header__brand {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer {
  width: 100%;
  padding: 50px 0px;
  background-image: url(./background-footer.svg);
  background-size: cover;
}

footer .container__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  margin-top: 10px;
}

footer .box__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 60px;
}

footer .box__footer .logo img {
  width: 100px;
}

footer .box__footer .terms {
  max-width: 350px;
  margin-top: 20px;
  font-weight: 500;
  color: #7a7a7a;
  font-size: 18px;
}

footer .box__footer h2 {
  margin-bottom: 30px;
  font-size: 30px;
  color: #343434;
  font-family: cursive;
  font-weight: 700;
}

footer .box__footer a {
  text-decoration: none;
  margin-top: 10px;
  color: #7a7a7a;
  font-weight: 600;
}

footer .box__footer a a:hover {
  opacity: 0.8;
}

footer .box__footer a .fab {
  font-size: 20px;
}

footer .box__copyright {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 40px 0px;
}

footer .box__copyright p {
  margin-top: 20px;
  color: #7a7a7a;
}

footer .box__copyright hr {
  border: none;
  height: 1px;
  background-color: #7a7a7a;
}

footer .box__copyright b {
  margin-left: 10px;
  color: #575757;
}

footer .box__copyright a {
  text-decoration: none;
}

.logo {
  height: 4vmax;
}

.index {
}

.index .fondo {
  background-image: url(/imagenes/cabina-estetica.webp);
  background-color: beige;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 1vh;
}

.index .fondo .landsection {
  padding: 12.5%;
}

.index .fondo .landsection .landsection__title {
  font-size: 20vw;
}

.index .container__services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 7vh;
}

.index .container__services .explain__services {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.index .container__services h2 {
  padding: auto;
  text-align: center;
  color: #3b0b3b;
  font-family: subtitulos;
  font-size: 5vw;
  text-align: center;
}

.index .container__services p {
  text-align: center;
}

.index .carousel-font {
  font-family: mostery;
  font-size: 5vh;
  font-weight: 600;
  color: #311939;
}

.index .container__asi_trabajamos {
  max-height: 70vh;
  display: inline;
  background: #f0e2ff;
}

.index .container__asi_trabajamos h2 {
  padding-top: 5vh;
  padding-bottom: 5vh;
  background: inherit;
  text-align: center;
  margin-bottom: 0px;
}

.index .container__asi_trabajamos p {
  background: inherit;
  text-align: center;
  font-weight: 600;
  font-size: 3vh;
  margin-bottom: 0px;
}

.index .container__asi_trabajamos .videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  background: inherit;
}

.index .container__asi_trabajamos .videoWrapper iframe {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  border-radius: 30px;
}

.index .container__employes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
  margin: auto;
  margin-top: 3vh;
}

.index .container__employes h2 {
  width: 100%;
  padding-top: 5vh;
  padding-bottom: 4vh;
  font-family: subtitulos;
  text-align: center;
  font-size: 8vh;
}

.index .container__employes .employes__column {
  width: 30%;
  padding-right: auto;
  padding-left: auto;
  margin-bottom: 100px;
  clear: both;
}

.index .container__employes .employes__column img {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 100%;
}

.index .container__employes .employes__column .employes__name {
  color: #4e014e;
  font-size: 2vmax;
  font-family: mostery;
  text-align: center;
  margin-bottom: 2vh;
  margin-top: 3vh;
}

.index .container__employes .employes__column .employes__phrase {
  margin-left: 20%;
  margin-right: 20%;
  max-width: 60%;
  text-align: center;
}

.body__nosotros {
}

.body__nosotros main h1 {
  font-family: titulosOimportantes;
  text-align: center;
  font-size: 4.6rem;
  margin-top: 4vh;
  margin-bottom: 7vh;
}

.body__nosotros main .historia__container {
  width: 100%;
  padding-left: 4vw;
  padding-right: 4vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
  text-align: center;
  background-color: #e3c7f0;
}

.body__nosotros main .historia__container h2 {
  text-align: center;
  font-family: subtitulos;
  margin-bottom: 6vh;
}

.body__nosotros main .historia__container p {
  color: #7a7a7a;
  text-align: center;
}

.body__nosotros .valor__name {
  width: 100%;
  text-align: center;
  color: color #311939;
  font-family: louisGorge;
}

.body__nosotros .valor {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.body__nosotros .valor p {
  margin-left: 3vw;
  margin-right: 3vw;
  color: #5d5d5d;
  text-align: justify;
}

.body__nosotros .valor .valorimg__container {
  min-height: 150px;
}

.body__nosotros .valor .valorimg__container img {
  width: 100%;
}

@media screen and (min-width: 700px) {
  .body__nosotros .valor .valorimg__container img {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 2vh;
    border-radius: 12px;
  }
}

@media screen and (min-width: 992px) {
  .body__nosotros main h1 {
    font-size: 8rem;
    margin-top: 7vh;
    margin-bottom: 10vh;
  }
  .body__nosotros main h2 {
    width: 100%;
    text-align: center;
    color: color #311939;
    font-family: louisGorge;
    margin-bottom: 20px;
  }
  .body__nosotros main .historia__container {
    margin-top: 5vh;
  }
  .body__nosotros main .historia__container h2 {
    font-size: 3rem;
    margin-top: 2%;
    margin-bottom: 3vh;
  }
  .body__nosotros main .historia__container p {
    margin: 2%;
    font-size: 1.2rem;
  }
  .body__nosotros main .valor {
    padding-left: 3vw;
    padding-right: 3vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .body__nosotros main .valor__descripcion {
    margin: 2.7rem;
    margin-left: 0px;
    border-color: #e5d4ed;
  }
  .body__nosotros main .valor__descripcion p {
    text-align: right;
    font-size: 1.2rem;
  }
  .body__nosotros main .valorimg__container {
    min-width: 50%;
  }
  .body__nosotros main .valorimg__container img {
    padding-top: 2vh;
    height: 300px;
    width: 500px;
  }
}

@media screen and (min-width: 1400px) {
  .body__nosotros main h1 {
    margin-top: 8vh;
    font-size: 10rem;
    margin-bottom: 12vh;
  }
  .body__nosotros .valor__name {
    font-size: 2rem;
  }
  .body__nosotros .historia__container h2 {
    margin-top: 7vh;
    font-size: 3.5rem;
    margin-bottom: 7vh;
  }
  .body__nosotros .historia__container p {
    margin: 3%;
    font-size: 1rem;
  }
  .body__nosotros .valor {
    margin-right: 2vw;
  }
  .body__nosotros .valor .valor__descripcion p {
    font-size: 1rem;
  }
}

.contacto .contacto__titulo h1 {
  margin-top: 6vh;
  margin-bottom: 6vh;
}

.contacto .contacto__form {
  margin-top: 10vh;
  margin-bottom: 4vh;
  border: 10px;
  border-style: double;
  border-color: #311939;
}

.contacto .contacto__form button {
  margin-bottom: 2vh;
}

.contacto iframe {
  margin-bottom: 8vh;
  width: 100%;
  height: 50vh;
}

@media screen and (min-width: 1400px) {
  .contacto .contacto__titulo h1 {
    margin-top: 9vh;
    margin-bottom: 9vh;
  }
}

.servicios h1 {
  text-align: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.servicios .servicios__container {
  width: 100%;
}

.servicios .servicios__container h2 {
  font-size: 2rem;
  padding-bottom: 2vh;
  padding-left: 2vh;
  padding-right: 2vh;
}

.servicios .servicios__container p {
  padding-left: 2vh;
  padding-right: 2vh;
  font-size: 1rem;
}

.servicios .servicios__container .servicio__img--container img {
  min-height: 150px;
  width: 100%;
}

.servicios .servicios__container--left {
  width: 100%;
}

.servicios .servicios__container--left h2 {
  font-size: 2rem;
  padding-bottom: 2vh;
  padding-left: 2vh;
  padding-right: 2vh;
}

.servicios .servicios__container--left p {
  padding-left: 2vh;
  padding-right: 2vh;
  font-size: 1rem;
}

.servicios .servicios__container--left .servicio__img--container img {
  min-height: 150px;
  width: 100%;
}

button {
  margin-left: 2vh;
  background-color: rgba(194, 146, 194, 0.822);
}

.content__button {
  font-size: 1rem;
  padding: 1vh;
  border-radius: 8px;
}

.content__button a {
  color: #2f2235;
}

@media screen and (min-width: 700px) {
  .servicios__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: #e9d5ff;
  }
  .servicios__container img {
    margin: 0px;
  }
  .servicios__container .servicio__descripcion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
    margin: 2vw;
    margin-top: 0px;
    padding-bottom: 40px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .servicios__container .servicio__img--container {
    max-width: 50%;
    margin-top: 0px;
  }
  .servicios__container--left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    background-color: #e9d5ff;
  }
  .servicios__container--left .servicio__descripcion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50vw;
    margin: 50px;
    margin-top: 0px;
    padding-bottom: 40px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .servicios__container--left .servicio__img--container {
    max-width: 50%;
    margin: 0px;
    text-align: left;
  }
  .servicios__container--left .servicio__img--container img {
    width: 100%;
    margin: 0px;
  }
}
/*# sourceMappingURL=style.css.map */