*{
    padding: 0px;
    margin: 0px;
}

$color-relleno: color #ffffff;
$color-oscuro: color #311939;
$color-claro: color #e5d4ed;
$color-violeta--suave: color #936ea8;
$color-violet: color #7e3f8f;


.logo{
    height: 4vmax;
}

// font



// index.html

.index{
// landsection
    .fondo{
        background-image: url(/imagenes/cabina-estetica.webp);
        background-color: beige;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding-bottom: 1vh;
        .landsection{
            padding: 12.5%;
            .landsection__title{
                font-size: 20vw;
            }
        }
    }
// end landsection
    .container__services{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1200px;
        margin: auto;
        margin-bottom: 7vh;
        .explain__services{
            width: 100%;
            flex-direction: column;
        }
        h2{
            padding: auto;
            text-align: center;
            color: rgb(59, 11, 59);
            font-family: subtitulos;
            font-size: 5vw;
            text-align: center;
        }
        p{
            text-align: center;
        }
        .carousel-font{
            font-family: mostery;
            font-size: 5vh;
            font-weight: 600;
            color: #311939;
        }
    }
// asi trabajamos
    .container__asi_trabajamos{
        max-height: 70vh;
        display: inline;
        background: rgb(240, 226, 255); 
        h2{
            padding-top: 5vh;
            padding-bottom: 5vh;
            background: inherit;
            text-align: center;
            margin-bottom: 0px;
        }
        p{
            background: inherit;
            text-align: center;
            font-weight: 600;
            font-size: 2vh;
            margin-bottom: 0px;
        }
        .videoWrapper {
            position: relative;
            padding-bottom: 56.25%;;
            padding-top: 25px;
            height: 0;
            background: inherit;
            iframe {
                position: absolute;
                top: 10%;
                left: 10%;
                width: 80%;
                height: 80%;
                border-radius: 30px;
            }
        }
    }
    .container__employes{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1200px;
        margin: auto;
        margin-top: 10px;
        h2{
            width: 100%;
            padding-top: 30px;
            padding-bottom: 20px; 
            font-family: subtitulos;
            text-align: center;
            font-size: 8vh;
        }
        .employes__column{
            width:30%;
            padding-right: auto;
            padding-left: auto;
            margin-bottom: 100px;
            clear: both;
            .employes_img{
                width: 60%;
                margin-left: 20%;
                margin-right: 20%;
                border-radius: 100%
            }
            .employes__name{
                color: rgb(78, 1, 78);
                font-size: 2vmax;
                font-family: mostery;
                text-align: center;
                margin-bottom: 2vh;
                margin-top: 3vh;
            }
            .employes__phrase{
                margin-left: 20%;
                margin-right: 20%;
                max-width: 60%;
                text-align: center;
            }
        }
    }
}

// Sobren_nosotros.html

.body__nosotros{
    @import url(./head_foot.scss);

    main{
        h1{
            font-family: titulosOimportantes;
            text-align: center;
            font-size: 4.6rem;
            margin-top: 4vh;
            margin-bottom: 7vh;
        }
        .historia__container{
            width: 100%;
            padding-left: 4vw;
            padding-right: 4vw;
            padding-top: 2vh;
            padding-bottom: 2vh;
            margin-top: 2vh;
            margin-bottom: 2vh;
            text-align: center;
            background-color: #e3c7f0;
            h2{
                text-align: center;
                font-family: subtitulos;
                margin-bottom: 3vh;
            }
            p{
                color: #7a7a7a;
                text-align: center;
            }
        }
    }

    .valor__name{
            width: 100%;
            text-align: center;
            color: $color-oscuro;
            font-family: louisGorge;
        }

    .valor{
        margin-top: 1vh;
        margin-bottom: 1vh;
        
        p{
            margin-left: 3vw;
            margin-right: 3vw;
            color: #5d5d5d;
            text-align: justify;
        }
        .valorimg__container{
            min-height: 150px;      
            img{
                width: 100%;
            }
        }
    }

    @media screen and (min-width: 700px){
        .valor{
            .valorimg__container{
                img{
                        width: 60%;
                    margin-left: 20%;
                    margin-right: 20%;
                    margin-bottom: 2vh;
                    border-radius: 12px;
                }
            }
        }
    }

    @media screen and (min-width: 992px){
        main{
            h1{
                font-size: 8rem;
                margin-top: 7vh;
                margin-bottom: 10vh;
            }
            h2{
                width: 100%;
                text-align: center;
                color: $color-oscuro;
                font-family: louisGorge;
                margin-bottom: 0px;
            }
            .historia__container{
                margin-top: 5vh;
                h2{ 
                    font-size: 3rem;
                    margin-top: 2%;
                    margin-bottom: 3vh;
                }
                p{
                    margin: 2%;
                    font-size: 1.2rem;
                }
            }
        

            .valor{
                padding-left: 3vw;
                padding-right: 3vw;
                display: flex;
                flex-wrap: nowrap;
                }
                .valor__descripcion{
                    margin: 2.7rem;
                    margin-left: 0px;
                    border-color: #e5d4ed;
                    p{
                        text-align: right;
                        font-size: 1.2rem;
                    }    
                }
                .valorimg__container{   
                    min-width: 50%;
                    img{
                        padding-top: 2vh;
                        height: 300px;
                        width: 500px;
                    }
                }
            }
    }

    @media screen and (min-width: 1400px){
        main{
            h1{
                margin-top: 8vh;
                font-size: 10rem;
                margin-bottom: 12vh;
            }
        }
        .valor__name{
            font-size: 2rem;
        }
        .historia__container{
            h2{
                margin-top: 7vh;
                font-size: 3.5rem;
                margin-bottom: 7vh;
            }
            p{
                margin: 3%;
                font-size: 1rem;
            }
        }
        .valor{
            margin-right: 2vw;
            .valor__descripcion{
                p{
                    font-size: 1rem;
                }
            }
        }
    }
}

// contacto.html

.contacto{
    .contacto__titulo{
        h1{
            margin-top: 6vh;
            margin-bottom: 6vh;
        }
    }
    .contacto__form{
        margin-top: 10vh;
        margin-bottom: 4vh;
        border: 10px;
        border-style: double;
        border-color: #311939;
        button{
            margin-bottom: 2vh;
        }
    }
    iframe{
        margin-bottom: 8vh;
        width: 100%;
        height: 50vh;
    }
    @media screen and (min-width: 1400px){
        .contacto__titulo{
            h1{
                margin-top: 9vh;
                margin-bottom: 9vh;
            }
        }
    }
}



// servicios.html
