*{
    padding: 0px;
    margin: 0px;
}

$color-relleno: color #ffffff;
$color-oscuro: color #311939;
$color-claro: color #e5d4ed;
$color-violeta--suave: color #936ea8;
$color-violet: color #7e3f8f;


.logo{
    height: 4vmax;
}

.violeta{
    background-color: #e5d4ed;
}

body{
    background-color: #e5d4ed;                
}

main{
    padding-top: 10px;
    padding-bottom: 20px;
}

a{
    text-decoration: none;
}

// header

.header__brand{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

// footer

footer{
    width: 100%;
    padding: 50px 0px;
    background-image: url(./background-footer.svg);
    background-size: cover;
    .container__footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1200px;
        margin: auto;
        margin-top: 10px;
    }
    .box__footer{
        display: flex;
        flex-direction: column;
        padding: 60px;
        .logo{
            img{
                width: 100px;
            }
        }
        .terms{
            max-width: 350px;
        margin-top: 20px;
        font-weight: 500;
        color: #7a7a7a;
        font-size: 18px;
        }
        h2{
            margin-bottom: 30px;
            font-size: 30px;
            color: #343434;
            font-family: cursive;
            font-weight: 700;
        }
        a{
        text-decoration: none;
        margin-top: 10px;
        color: #7a7a7a;
        font-weight: 600;
        a:hover{
            opacity: 0.8;
        }
        .fab{
            font-size: 20px;
        }
    }
    }
    .box__copyright{
        max-width: 1200px;
        margin: auto;
        text-align: center;
        padding: 40px 0px;
        p{
            margin-top: 20px;
            color: #7a7a7a;
        }
        hr{
            border: none;
            height: 1px;
            background-color: #7a7a7a;
        }
        b{
            margin-left: 10px;
            color: #575757;
        }
        a{
            text-decoration: none;
        }
    }
    
}

.logo{
    height: 4vmax;
}

// index.html

.index{
    @import url(./head_foot.scss);
// landsection
    .fondo{
        background-image: url(/imagenes/cabina-estetica.webp);
        background-color: beige;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding-bottom: 1vh;
        .landsection{
            padding: 12.5%;
            .landsection__title{
                font-size: 20vw;
            }
        }
    }
// end landsection
    .container__services{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1200px;
        margin: auto;
        margin-bottom: 7vh;
        .explain__services{
            width: 100%;
            flex-direction: column;
        }
        h2{
            padding: auto;
            text-align: center;
            color: rgb(59, 11, 59);
            font-family: subtitulos;
            font-size: 5vw;
            text-align: center;
        }
        p{
            text-align: center;
        }
    }
    .carousel-font{
        font-family: mostery;
        font-size: 5vh;
        font-weight: 600;
        color: #311939;
    }
    
// asi trabajamos
    .container__asi_trabajamos{
        max-height: 70vh;
        display: inline;
        background: rgb(240, 226, 255); 
        h2{
            padding-top: 5vh;
            padding-bottom: 5vh;
            background: inherit;
            text-align: center;
            margin-bottom: 0px;
        }
        p{
            background: inherit;
            text-align: center;
            font-weight: 600;
            font-size: 3vh;
            margin-bottom: 0px;
        }
        .videoWrapper {
            position: relative;
            padding-bottom: 56.25%;;
            padding-top: 25px;
            height: 0;
            background: inherit;
            iframe {
                position: absolute;
                top: 10%;
                left: 10%;
                width: 80%;
                height: 80%;
                border-radius: 30px;
            }
        }
    }
    .container__employes{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 100%;
        margin: auto;
        margin-top: 3vh;
        h2{
            width: 100%;
            padding-top: 5vh;
            padding-bottom: 4vh; 
            font-family: subtitulos;
            text-align: center;
            font-size: 8vh;
        }
        .employes__column{
            width:30%;
            padding-right: auto;
            padding-left: auto;
            margin-bottom: 100px;
            clear: both;
            img{
                width: 60%;
                margin-left: 20%;
                margin-right: 20%;
                border-radius: 100%
            }
            .employes__name{
                color: rgb(78, 1, 78);
                font-size: 2vmax;
                font-family: mostery;
                text-align: center;
                margin-bottom: 2vh;
                margin-top: 3vh;
            }
            .employes__phrase{
                margin-left: 20%;
                margin-right: 20%;
                max-width: 60%;
                text-align: center
            }
        }
    }
}

// Sobren_nosotros.html

.body__nosotros{
    @import url(./head_foot.scss);

    main{
        h1{
            font-family: titulosOimportantes;
            text-align: center;
            font-size: 4.6rem;
            margin-top: 4vh;
            margin-bottom: 7vh;
        }
        .historia__container{
            width: 100%;
            padding-left: 4vw;
            padding-right: 4vw;
            padding-top: 2vh;
            padding-bottom: 2vh;
            margin-top: 2vh;
            margin-bottom: 2vh;
            text-align: center;
            background-color: #e3c7f0;
            h2{
                text-align: center;
                font-family: subtitulos;
                margin-bottom: 6vh;
            }
            p{
                color: #7a7a7a;
                text-align: center;
            }
        }
    }

    .valor__name{
            width: 100%;
            text-align: center;
            color: $color-oscuro;
            font-family: louisGorge;
        }

    .valor{
        margin-top: 1vh;
        margin-bottom: 1vh;
        
        p{
            margin-left: 3vw;
            margin-right: 3vw;
            color: #5d5d5d;
            text-align: justify;
        }
        .valorimg__container{
            min-height: 150px;      
            img{
                width: 100%;
            }
        }
    }

    @media screen and (min-width: 700px){
        .valor{
            .valorimg__container{
                img{
                        width: 60%;
                    margin-left: 20%;
                    margin-right: 20%;
                    margin-bottom: 2vh;
                    border-radius: 12px;
                }
            }
        }
    }

    @media screen and (min-width: 992px){
        main{
            h1{
                font-size: 8rem;
                margin-top: 7vh;
                margin-bottom: 10vh;
            }
            h2{
                width: 100%;
                text-align: center;
                color: $color-oscuro;
                font-family: louisGorge;
                margin-bottom: 20px;
            }
            .historia__container{
                margin-top: 5vh;
                h2{ 
                    font-size: 3rem;
                    margin-top: 2%;
                    margin-bottom: 3vh;
                }
                p{
                    margin: 2%;
                    font-size: 1.2rem;
                }
            }
        

            .valor{
                padding-left: 3vw;
                padding-right: 3vw;
                display: flex;
                flex-wrap: nowrap;
                }
                .valor__descripcion{
                    margin: 2.7rem;
                    margin-left: 0px;
                    border-color: #e5d4ed;
                    p{
                        text-align: right;
                        font-size: 1.2rem;
                    }    
                }
                .valorimg__container{   
                    min-width: 50%;
                    img{
                        padding-top: 2vh;
                        height: 300px;
                        width: 500px;
                    }
                }
            }
    }

    @media screen and (min-width: 1400px){
        main{
            h1{
                margin-top: 8vh;
                font-size: 10rem;
                margin-bottom: 12vh;
            }
        }
        .valor__name{
            font-size: 2rem;
        }
        .historia__container{
            h2{
                margin-top: 7vh;
                font-size: 3.5rem;
                margin-bottom: 7vh;
            }
            p{
                margin: 3%;
                font-size: 1rem;
            }
        }
        .valor{
            margin-right: 2vw;
            .valor__descripcion{
                p{
                    font-size: 1rem;
                }
            }
        }
    }
}

// contacto.html

.contacto{
    .contacto__titulo{
        h1{
            margin-top: 6vh;
            margin-bottom: 6vh;
        }
    }
    .contacto__form{
        margin-top: 10vh;
        margin-bottom: 4vh;
        border: 10px;
        border-style: double;
        border-color: #311939;
        button{
            margin-bottom: 2vh;
        }
    }
    iframe{
        margin-bottom: 8vh;
        width: 100%;
        height: 50vh;
    }
    @media screen and (min-width: 1400px){
        .contacto__titulo{
            h1{
                margin-top: 9vh;
                margin-bottom: 9vh;
            }
        }
    }
}

// servicios.html

.servicios{
    h1{
        text-align: center;
        margin-top: 2vh;
        margin-bottom: 2vh;
    }
    .servicios__container{
        width: 100%;
        h2{
            font-size: 2rem;
            padding-bottom: 2vh;
            padding-left: 2vh;
            padding-right: 2vh;
        }
        p{
            padding-left: 2vh;
            padding-right: 2vh;
            font-size: 1rem;
        }
        .servicio__img--container{
            img{
                min-height: 150px;
                width: 100%;
            }
        }
    }
    .servicios__container--left{
        width: 100%;
        h2{
            font-size: 2rem;
            padding-bottom: 2vh;
            padding-left: 2vh;
            padding-right: 2vh;
        }
        p{
            padding-left: 2vh;
            padding-right: 2vh;
            font-size: 1rem;
        }
        .servicio__img--container{
            img{
                min-height: 150px;
                width: 100%;
            }
        }
    }
    }
    button{
        margin-left: 2vh;
        background-color: rgba(194, 146, 194, 0.822);
    }
    .content__button{
        font-size: 1rem;
        padding: 1vh;
        border-radius: 8px;
    }
    .content__button a{
        color: rgb(47, 34, 53);
    }
    @media screen and (min-width: 700px){
        .servicios__container{
            display: flex;
            flex-direction: row;
            background-color: rgb(233, 213, 255);
            img{
                margin: 0px;
            }
            .servicio__descripcion{
                display: flex;
                flex-direction: column;
                width: 50%;
                margin: 2vw;
                margin-top: 0px;
                padding-bottom: 40px;
                align-items: flex-end; 
                justify-content: space-around;
            }
            .servicio__img--container{
                max-width: 50%;
                margin-top: 0px;
            }
        }
        // Ordenado de derecha a izquierda
        .servicios__container--left{
            display: flex;
            flex-direction: row-reverse;
            flex-wrap: nowrap;
            background-color: rgb(233, 213, 255);
            .servicio__descripcion{
                display: flex;
                flex-direction: column;
                width: 50vw;
                margin: 50px;
                margin-top: 0px;
                padding-bottom: 40px;
                align-items: flex-start; 
                justify-content: space-around;
            }
            .servicio__img--container{
                max-width: 50%;
                margin: 0px;
                text-align: left;
                img{
                    width: 100%;
                    margin: 0px;
                }
            }
        }
    }
